


@media screen and (max-width:500px) {

    header {
        position: fixed;
    }

    h1 {
    width: 230px;
    padding: 0 10px;
    }
    
    .logo {
     left:-50px; 
    position: relative;
    }
    .user {
        display: block;
        position: relative;
        top: 8px;
        left:80px;
        font-size: 35px;
        color: #85ff00;
    }
    
    .shownav{ right: 600px !important; }
    
    .nav {
    display: block;
    position: absolute;
    }
    
    nav.navbar {
        position: relative;
        background: black;
        height: 106vh;
        width: 225px;
        top: -15px;
        right: 826px;
        display: block;
        transition: all 1.5s;
    }
    
    li {
    list-style: none;
    padding: 15px 10px;
    border-bottom: 1px solid #696565;
    }
    
    li:hover { border-bottom: 1px solid #fdfbfb; }
    
    a:hover{
    color: rgb(255, 255, 255);
    border-bottom: none;
    
    }
    
    
    /* Home Page and banner css */
    section#home {
        background: #191a5091;
        top:60px;
    }
    
    .banner-text {
        left: 0;
        top: 10px;
        position: relative;
        width: 483px;
        height: 400px;
    }
    
    .banner-text h2 {
        font-size: 25px;
        top: 0px;
        left: -5%;
        
    }
    .banner-text p {
        position: relative;
        font-size: 15px;
        left: -35px;
        text-transform: capitalize;
        
    }
    
    .banner-text a {
        padding: 10px 25px;
        top: 70px;
        left: 100px;
    }
    
    .down a i {
        border: 1px solid #fbf6f6;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        font-size: 50px;
        padding: 7px 14px;
        position: relative;
        left: 40%;
        top: 5px;
        color: red;
    }
    
    /* Intro-contant and css */
    
    section#intro {
        width: 100%;
        height: 225vh;
        position: relative;
        top: 0px;
        padding: 0px 0px;
        display: flex;
        flex-direction: column;
    }
    .intro-text {
        position: relative;
        top: 80px;
        left: 17%;
        color: white;
        display: inline-block;
    }
    .intro-text h1 {
        font-size: 25px;
        color: #ebef07;
        position: relative;
        left: 40px;
    }
    .intro-text p {
            font-size: 15px;
            position: relative;
            right: 20px;
            top: 6px;
            display: inline-block;
        }
        .intro-card {
            right: 80px;
            top: 80px;
            flex-direction: column;
            height: 223vh; 
        }
    .card {
        width: 221px;
        height: 60vh;
        left: 150px;
        padding: 0px 10px;
        margin: 10px 0px;
        background: #191a5091;
        
    }

    .card i {
        font-size: 30px;
        color: #efff00fa;
        position: relative;
        
    }
    .card h1 {
        color: white;
        position: relative;
        top: 90px;
        right: 15px;
        font-size: 22px;
        display: inline-block;
    }
    .card p {
        top: 130px;
        position: relative;
        color: #e4dbdb;
        text-align: justify;
        text-transform: capitalize;
    }
    
    }
