

@media(max-width:1140px){
    .container {
        width:calc(100vw -35vw );
        max-width:100%;
    }
}



body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: #1c1c52d9;
}

.container {
    background: #f8f9fb75;
    width: 1140px;
    margin: 10px auto auto;
    border: 1px solid rgb(86 245 5 / 50%);
}

h1.hedline {
    float: right;
    margin: 10px 10px;
}

.topbarwraper {
    height: 35px;
}

.sidebar {
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background: rgb(4, 35, 49);
    transition: all 0.5s ease 0s;
    
}

  .sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    border-top: 1px solid rgba(255,255,255,.1);
    transition: .4s;
  }
  ul li:hover a{
    padding-left: 50px;
  }
  .sidebar ul a i{
    margin-right: 16px;
  }
  #check{
    display: none;
  }
  label #btn,label #cancel{
    position: absolute;
    background: #042331;
    border-radius: 3px;
    cursor: pointer;
  }
  label #btn{
    /*left: 40px;*/
    top: 25px;
    font-size: 35px;
    color: white;
    padding: 6px 12px;
    transition: all .5s;
    position:fixed;
  }
  label #cancel{
    z-index: 1111;
    left: -195px;
    top: 17px;
    font-size: 30px;
    color: #0a5275;
    padding: 4px 9px;
    transition: all .5s ease;
    position:fixed;
  }
  #check:checked ~ .sidebar{
    left: 0;
  }
  #check:checked ~ label #btn{
    left: 250px;
    opacity: 0;
    pointer-events: none;
  }
  #check:checked ~ label #cancel{
    left: 195px;
  }
  #check:checked ~ section{
    margin-left: 250px;
  }